<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>My Blog</h4>
    <p>As I continue my coding journey, I'll post what I've learned. I'll write about the industry and how I view it. I'm currently programming a lot in Ruby (and Rails), Angular and Typescript.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= fa_icon "facebook-square" %></a></li>
    </ol>
  </div>
</div>